<div 
  id="feed-container"
  infiniteScroll
  [scrollWindow]="false"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="800"
  (scrolled)="loadBlogs()">

  <div class="content-wrapper bg-white p-4 rounded-3 shadow-sm">

    <h3 class="mb-4">All articles</h3>

    <div class="navbar mb-4">
      <form class="d-flex" role="search" [formGroup]="form" (change)="searchByTitle()">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Search by title"
          aria-label="Search"
          formControlName="search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="d-flex gap-3 mt-3 flex-wrap" style="max-width: 40rem;">
        @if (!showTagList) {
          @for (category of categories; track $index) {
            @if ($index < 3) {
              <li #li class="btn btn-outline-secondary" (click)="addTag(category, li)">
                {{ category.name }}
              </li>
            }
          }
        }
          <button class="btn btn-dark" (click)="tagListToggle()">
            {{ showTagList ? "See less..." : "See more..." }}
          </button>
        
      </ul>
    </div>

    @if (showTagList) {
    <ul class="d-flex gap-3 flex-wrap mb-3" style="max-width: 40rem;">
      @for (category of categories; track $index) {
        <li #li class="btn btn-outline-secondary" (click)="addTag(category, li)">
          {{ category.name }}
        </li>
      }
    </ul>
    }

    <!-- BLOG CARDS GRID -->
    <div class="d-flex flex-wrap gap-3">
      @for (item of blogs; track $index) {
        <app-blog-card [blog]="item" layout="side" [len]="120"></app-blog-card>
      }
    </div>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="loading">Loading more posts...</div>
  </div>

</div>
